.vscode/**
src/**
test/**
config/**
scripts/**
public/**
tsconfig.json
tsconfig.extension.json
webpack.config.js
yarn.lock
src/**
*.ts
*.sol
.gitignore
node_modules/**
keystore/**
extension/**
networks.json
compiler/**