#ConfigContainer {
    width: 35%;
    height: 400px;
    overflow-y: scroll;
    border: 1px solid var(--vscode-icon-foreground);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    gap: 8px;
}
#network, #account, #gaslimit, #value, #contract,#AtAddress {
    font-size: 12px;
    color: var(--vscode-icon-foreground);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 8px;
}

#accountselection,#gasSelection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.dropdown, #gasLimitTextField, #valueTextField, #valueDropDown {
    width: 90%;
    font-size: 12px;
    border: 1px solid var(--vscode-icon-foreground);
}

#valueTextField {
    width: 60%;
}
#valueDropDown {
    width: 35%;
}
#valueSelection, #AtAddressSelection {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
#AtAddressButton {
    width: 35%;
}
#AtAddressTextField {
    width: 60%;
    font-size: 16px;
    border: 1px solid var(--vscode-icon-foreground);
}
.copyIcon {
    width: 16px;
    height: 16px;
}